html, body {
    height: 100%;
}

body {
    background-color: var(--bg-body);
}

[data-theme="light"] .config-card, .help-card {
  border: 1px solid var(--border-color) !important;
}

.profile-nav {
    background-color: var(--bg-main);
    height: 220px;
    border-bottom: 1px solid var(--border-color);
}

.nav-icons {
    right: -15px !important;
    top: 10px;
    display: flex;
    gap: 8px;
}

.nav-icon-area {
    padding: 10px;
    cursor: pointer;
    color: var(--text-secondary);
    font-size: 30px;
}

.nav-icon-area:hover {
    color: var(--text-secondary-hover);
}

.avatar-wrapper {
    display: inline-block;
    padding: 4px;
    border: 2px solid var(--accent);
    border-radius: 50%;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: var(--text-white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar i {
    color: var(--accent);
    font-size: 35px;
}

.user-name {
    color: var(--text-secondary);
    font-weight: 600;
    font-size: 18px;
}

.edit-btn {
    background-color: var(--edit-btn-bg);
    color: var(--accent);
    border: 1px solid var(--accent);
    border-radius: 8px;
    padding: 6px 25px;
    font-size: 14px;
}

.edit-btn:hover {
    background-color: var(--edit-btn-hover);
}

.content-area {
    width: 100%;
    max-width: 150ch;
    margin: 0 auto;
    padding: 40px 20px 20px;
}

.config-card {
    background-color: var(--bg-main);
    border-radius: 15px;
    padding: 20px;
}

.config-title {
    color: var(--text-secondary);
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
}

.config-list {
    display: flex;
    flex-direction: column;
}

.config-item {
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    padding: 15px 15px;
    border-bottom: 1px solid var(--border-color);
}

.config-item:hover {
    background-color: var(--menu-hover);
    cursor: pointer;
}

.config-item:last-child {
    border-bottom: none;
}

.config-item i {
    color: var(--text-secondary);
    font-size: 25px;
}

.config-item span {
    color: var(--text-secondary);
    text-align: left;
    font-size: 18px;
    margin-left: 20px;
}

.layout {
    display: grid;
    grid-template-columns: 1fr 12px;
    height: calc(100vh - 296px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
}

.layout::-webkit-scrollbar {
    display: none;
}

.custom-scroll {
    background-color: var(--bg-scroll);
    position: sticky;
    top: 0;
    right: 0;
    height: calc(100vh - 296px);
    width: 12px;
    z-index: 10;
}

.scroll-thumb {
    width: 100%;
    background-color: var(--scroll-thumb);
    position: absolute;
    top: 0;
    cursor: pointer;
}

.invite-box {
    margin-top: 30px;
    background-color: var(--accent);
    border-radius: 15px;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--text-white);
    cursor: pointer;
}

.invite-box i {
    font-size: 25px !important;
}

.invite-box span {
    color: var(--text-white);
    font-size: 18px;
}

.help-card {
    background-color: var(--bg-main);
    border-radius: 15px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.help-icon {
    font-size: 50px;
    color: var(--text-secondary);
    margin-bottom: 15px;
}

.help-title {
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.help-text {
    color: var(--text-secondary);
    font-size: 14px;
    margin-bottom: 20px;
    max-width: 400px;
}

.help-action {
    width: 100%;
    max-width: 300px;
    border: 2px solid var(--border-color);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--text-secondary);
    cursor: pointer;
}

.help-action:hover {
    background-color: var(--menu-hover);
}